# Trabalhando com Planilhas do Excel

In [1]:
#Importando a biblioteca Pandas
import pandas as pd

In [19]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Datasets/Salvador.xlsx")

In [5]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [20]:
#Juntando todos os aquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [7]:
#Para pegar uma amostra do nosso conjunto de dados
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
82     Aracaju 2018-01-01  150.48    1522     4
56   Fortaleza 2019-01-01   18.43    1002     1
75     Aracaju 2018-01-01  160.64    1523     9
183   Salvador 2019-01-02  120.23    1037     2
141  Fortaleza 2019-03-02  182.75     983     8

In [8]:
#Alterar o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [10]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

### Tratando valores faltantes

In [16]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [12]:
df

       Cidade       Data  Vendas LojaID  Qtde
0     Aracaju 2018-01-01  142.00   1520     1
1     Aracaju 2018-01-01   14.21   1522     6
2     Aracaju 2018-01-01   71.55   1520     1
3     Aracaju 2018-01-01    3.01   1521     7
4     Aracaju 2018-01-01   24.51   1522     8
..        ...        ...     ...    ...   ...
235  Salvador 2019-01-03   41.84   1034     1
236  Salvador 2019-01-03  126.29   1035     3
237  Salvador 2019-01-03   38.06   1036     3
238  Salvador 2019-01-03  139.64   1035     1
239  Salvador 2019-01-03  161.41   1037     3

[894 rows x 5 columns]

In [15]:
df["Vendas"].isnull().sum()

0

In [17]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [21]:
df["Vendas"].mean()

122.61180089485458

In [22]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [23]:
#Apagar linhas com valores nulos
df.dropna(inplace=True)

In [24]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [25]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

### Criando colunas novas

In [26]:
#Criando a coluna da receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [27]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00    1520     1   142.00
1  Aracaju 2018-01-01   14.21    1522     6    85.26
2  Aracaju 2018-01-01   71.55    1520     1    71.55
3  Aracaju 2018-01-01    3.01    1521     7    21.07
4  Aracaju 2018-01-01   24.51    1522     8   196.08

In [28]:
#Se eu não tivesso a coluna Qtde, eu poderia descobrir dividindo vendas por receitas
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [29]:
df.head()

    Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00    1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21    1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55    1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01    1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51    1522     8   196.08             8.0

In [30]:
#Retornando a maior receita
df['Receita'].max()

3544.0

In [31]:
#Quando quero retornar todas as referencias com base nas maiores receitas
df.nlargest(3, "Receita")

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0

In [32]:
#Quando quero retornar todas as referencias com base nas menores receitas
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34    1522     1     3.34             1.0
65    Recife 2019-01-01    4.01     981     1     4.01             1.0
92     Natal 2019-01-02    4.57    1035     1     4.57             1.0

In [33]:
#Agrupamento por cidades
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [36]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas  LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0     853     4   3544.0             4.0
55  Natal 2019-01-08   859.0     854     4   3436.0             4.0
51  Natal 2018-01-21   859.0     852     4   3436.0             4.0
30  Natal 2018-10-02   856.0     853     4   3424.0             4.0
41  Natal 2018-05-20   835.0     852     4   3340.0             4.0
38  Natal 2018-02-25   828.0     852     4   3312.0             4.0
10  Natal 2018-10-27   828.0     852     4   3312.0             4.0
69  Natal 2019-03-24   817.0     852     4   3268.0             4.0
62  Natal 2018-02-10   793.0     854     4   3172.0             4.0
52  Natal 2018-04-27   778.0     854     4   3112.0             4.0